<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="" >NAME</label>
        <input type="text" name="name" placeholder="ENTER YOUR NAME">
        <br><br>
        <label for="" >EMAIL</label>
        <input type="email" name="email" placeholder="ENTER YOUR EMAIL">
        <br><br>
        <label for="" >QUERY</label>
        <textarea name="text" id=""></textarea placeholder="ENTER YOUR QUERY">
        <br><br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>

<!-- fwqq hziv pnju wxtw -->