{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="paragraph">
    <p class="para">
        Hidetoshi Dekisugi (出木杉 英才できすぎ ひでとし Dekisugi Hidetoshi), or Ace Goody (English dub), is one of Nobita's classmates and a perceived rival for Shizuka's affection. His intelligence always gets him perfect scores on his tests, and he easily aces any sports he played. Although, his favorites are astronomy and philosophy, Dekisugi excels at any subject. Thus, it's not rare for him to receive calls from his friends, asking for guidance or tips.

        Dekisugi is highly esteemed by the people around him. His good behavior and academic plus athletic excellence, earns him the title of "honor student" from the teachers. A wide range of skills plus his good looks have charmed a lot of girls in his class, and one of them is Shizuka. This seemingly "perfect" image of a prince makes him to be the subject of envy of his classmates, especially Nobita.
    </p>
</div>
<img class="doremon_imgs" src="{% static 'images/dekisugi.jpg' %}" alt="no img">
{% static 'static/images/dekisugi.jpg' %}
{% endblock content%} 