{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="paragraph">
    <p class="para">
        Doraemon (Japanese: ドラえもん) is the titular character of the manga and anime series Doraemon, created by Fujiko Fujio. Doraemon is a male robotic cat that travels back in time from the 22nd century to aid a preteen boy named Nobita Nobi in his daily life. 
    </p>
</div>
<img class="doremon_imgs" src="{% static 'images/doraemon.jpg' %}" alt="no img">
{% static 'images/doraemon.jpg' %}
{% endblock content%} 