{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="paragraph">
    <p class="para">
    GEION FORMULATIONS PRIVATE LIMITED is an active Indian chemical manufacturing company incorporated on January 4, 2021, based in Hyderabad, Telangana, with a focus on manufacturing, as recorded by the Ministry of Corporate Affairs (MCA). It is a private, unlisted company with an authorized share capital of ₹10,00,000. Other potential, unrelated results include individual names and a Scandinavian origin myth.
    </p>
</div>
<img class="doremon_imgs" src="{% static 'images/geion.jpg' %}" alt="">
{% endblock content%} 