{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="paragraph">
    <p class="para">
        Nobita Nobi (Japanese: 野比 のび太, Hepburn: Nobi Nobita) is one of the main characters in the Doraemon manga and anime series created by Fujiko Fujio. Known as Sidney, Specky and Noby in some English localizations of the anime, Nobita is usually depicted as an elementary school student. The title character, Doraemon, is sent back in time by Nobita's great-great grandson Sewashi Nobi to look after Nobita.
    </p>
</div>
<img class="doremon_imgs" src="{% static 'images/nobitha.jpg' %}" alt="">
{% endblock content%} 