{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="paragraph">
    <p class="para">
        Shizuka Minamoto, usually called Shizu-chan or Shizuka-chan, is one of the three tritagonists (alongside Suneo Honekawa and Takeshi Gouda) of the Doraemon franchise.

        She is Nobita Nobi's childhood friend and crush. A smart and kind-hearted girl, Shizuka always sees the best in everyone and is the moral center of the group. She is also one of the people in Nobita's daily life that are sympathetic to him and see the potential he possesses to be successful. However, Shizuka also secretly has a mischievous side to herself as shown several times, even going as far to lie to her mother to escape responsibilities. She will eventually become Nobita's wife by the name of Shizuka Nobi, and the mother of his son, Nobisuke, in the future. She was born on May 8.
    </p>
</div>
<img class="doremon_imgs" src="{% static 'images/shizuka.jpg' %}" alt="">
{% endblock content%} 