{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="paragraph">
    <p class="para">
        Suneo Honekawa (骨川 スネ夫ほねかわ すねお Honekawa Suneo), also known by his nickname Sneech in the American and UK versions, is one of the main characters of the Doraemon franchise.

        He sometimes serves as the secondary antagonist in some comic chapters and animated episodes when he is bad or evil of the franchise.

        He is a spoiled rich kid who likes to show off his cool stuff to his friends and make them jealous. The friends he hangs out with mostly are Nobita, Doraemon, Gian and Shizuka. He sometimes brags to his friends to things like meeting up with famous stars.
    </p>
</div>
<img class="doremon_imgs" src="{% static 'images/suneo.jpg' %}" alt="">
{% endblock content%} 