{% extends 'base.html' %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div style="margin-top: 20px;">
                <button type="submit">Login</button>
            </div>
        </form>
        <div style="margin-top: 20px;">
            <small>Need An Account? <a href="{% url 'register' %}">Sign Up Now</a></small>
        </div>
    </div>
{% endblock content %}