<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Name : </label>
        <input type="text" name ='name'><br><br>
        <label for="">Brand : </label>
        <input type="text" name ='brand'><br><br>
        <label for="">Price : </label>
        <input type="text" name ='price'><br><br>
        <label for="">Battery : </label>
        <button type="submit">Submit</button>


    </form>
</body>
</html>