{% extends 'main.html' %}
{ % load static %}
{% block content %}
      <div id ="box">
        <h1>About Page</h1>

        <p>
            This is the About page created using Django and Internal CSS.
        </p>

        <p>
            This website is developed for learning Django web development.
        </p>

    </div>
{% endblock content %}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        body{
            font-family: Arial;
            background-color: gray;
        }

        #box{
            width: 70%;
            height: 100vh;
            margin: auto;
            background: red;
            padding: 30px;
            border-radius: 10px;
            margin-top: 50px;
        }

        h1{
            text-align: center;
            color: darkblue;
        }

        p{
            font-size: 18px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
   
</body>
</html> -->
