 footer{
            width: 100%;
            height: 10vw;
            position: relative;
            bottom: -13.9vw;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: white;
                font-size: 2.5vw;
            }
        }