        ul{
            width: 100%;
            height: 4vw;
            background-color:#c4c1e0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-size: 2vw;
            list-style-type: none;
            color:#7c73e6;        
        }