<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stylesheet/class.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/footer.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/id.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/nav.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/tag.css' %}">
</head>
<body>
    <h1>Welcome to Main Page</h1>
    {% include 'nav.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>
</html>